<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= "Title: " + book.Title + " Size: " + book.Size %>	
	<br><a href="/books/new">click to add more books</a>
</body>
</html>