<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/newbook">
	   title
		<input type="text" name="title">
		size
		<input type="text" name="size">
	<button type = "submit">submit</button>
	</form>
	
</body>
</html>